body {
  padding-top: 5px;
}

.welcome {
  font-size: 18px;
  display: inline;
  padding: 5px;
}
.panel_image{
  width:230px;
  height:230px;
  position: relative;
  left:850px;
  top: -230px;
  margin-bottom: -230px;
}
